/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* html tag */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.flex {
    display: flex;
}

/* css class */
.divided-part {
    width: 50%;
    margin: 2% 6%;
}

.service {
    margin: 2% 6%;
}

.divided-text {
    gap: 60px;
    margin: 2% 6%;
    margin-bottom: 100px;

}

.divided-part img {
    width: 90%;
}

.title {
    color: #F2B705;
}

.contact {
    text-decoration: none;
    background-color: #F2B705;
    color: white;
    padding: 10px;
    font-weight: 500;
    border: 1px solid #42378C;
    border-radius: 10px;
}

.top-banner {
    background-image: url("./background/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.dream {
    background-image: url("./background/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}